/data
./data
# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Data files
*.csv
# allow the requirements.txt file to be committed
*.txt

# Output directories
*_figures/
my_plots/ 

.env
*.zip
reconfiguration_visibility.json
output*/